---
import { Icon } from 'astro-icon/components';
---

<span class="flex items-center justify-center gap-2 font-mono">
  <Icon aria-hidden="true" name="mail" class="w-4 h-4"/>
  <span id="email" class="hover:underline">
    <noscript>JS is required to see email</noscript>
  </span>
</span>

<script data-astro-rerun is:inline>
  
  const email = "ZWR3YXJkLmphY29ic0Bwc3ljaC5veC5hYy51aw==";
  const link = document.createElement('a');
  link.href = `mailto:${atob(email)}`;
  link.target = '_blank';
  link.innerHTML = atob(email)
    
  document.addEventListener('astro:page-load', () => { 
    const el = document.getElementById("email"); 
    if(el) el.append(link);
  });

</script>